.page-footer {
  background-color: #fb8c00 !important;
  color: #fff;
}

.page-footer li {
  padding: 2px 0;
}

.page-footer a {
  color: #fff;
}

.page-footer a:hover {
  text-decoration: none;
}

.page-footer .footer-links,
.page-footer .footer-copyright {
  padding-right: 6%;
  padding-left: 6%;
}

@media (min-width: 600px)
.page-footer .footer-links,
.page-footer .footer-copyright {
    padding-right: 2%;
    padding-left: 2%;
}

.page-footer .footer-copyright {
  color: rgba(255,255,255,0.6);
  background-color: rgba(0,0,0,0.1);
}
